3-Sample/Busan.UWP_#1/WhereAmI/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleDataSource" targetNamespace="Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="ResultList" type="tns:ResultList" />
      <xs:element name="CountryList" type="tns:CountryList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ResultListItem" type="tns:ResultListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultListItem">
    <xs:attribute name="CityName" type="xs:string" />
    <xs:attribute blend:Format="Price" name="Lat" type="xs:string" />
    <xs:attribute blend:Format="Price" name="Lng" type="xs:string" />
    <xs:attribute blend:FormatParameters="10" name="Population" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="CountryList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CountryListItem" type="tns:CountryListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryListItem">
    <xs:attribute name="Country" type="xs:string" />
  </xs:complexType>
</xs:schema>